#botao {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.conteudo-card {
    display: flex;
    justify-content: center;
    margin-top: 15px
}
